<div class="alert alert-success" role="alert" data-ng-show="success">Kleiderspende erfolgreich gespeichert.</div>

<div class="panel panel-primary" data-ng-hide="success">
    <div class="panel-heading">
        <h3 class="panel-title">Spender</h3>
    </div>
    <div class="panel-body">
        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#donatorSelectionDlg"
                disabled="true">
            <span data-ng-show="hasDonator()">{{donation.donator.firstname}} {{donation.donator.lastname}}</span>
            <span data-ng-hide="hasDonator()">Spender auswählen</span>
        </button>

    </div>
</div>

<div class="panel panel-primary" data-ng-hide="success"
     data-ng-show="donation.type =='GARMENT' || donation.type =='SHOES' || donation.type == 'HOSUEWARES' || donation.type == 'HYGIENE' || donation.type = 'TOY' ">
    <div class="panel-heading">
        <h3 class="panel-title" data-ng-show="donation.type =='GARMENT' ">Kleiderspende hinzuf&uuml;gen</h3>

        <h3 class="panel-title" data-ng-show="donation.type =='SHOES' ">Schuhspende hinzuf&uuml;gen</h3>

        <h3 class="panel-title" data-ng-show="donation.type =='HOUSEWARES' ">Haushaltswaren-Spende hinzuf&uuml;gen</h3>

        <h3 class="panel-title" data-ng-show="donation.type =='HYGIENE' ">Körperpflegeartikel-Spende
            hinzuf&uuml;gen</h3>
        <h3 class="panel-title" data-ng-show="donation.type =='TOY' ">Spielzeug-Spende hinzuf&uuml;gen</h3>

        <h3 class="panel-title" data-ng-show="donation.type =='FURNITURE' ">Möbel-Spende hinzuf&uuml;gen</h3>

        <h3 class="panel-title" data-ng-show="donation.type =='OTHER' ">Sonstige-Spende hinzuf&uuml;gen</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" data-ng-submit="save()">
            <h3 data-ng-show="donation.type =='GARMENT' ">Kleiderspende</h3>

            <h3 data-ng-show="donation.type =='SHOES' ">Schuhspende</h3>

            <h3 data-ng-show="donation.type =='HOUSEWARES' ">Haushaltswaren</h3>

            <h3 data-ng-show="donation.type =='HYGIENE' ">Körperpflegeartikel</h3>

            <h3 data-ng-show="donation.type =='TOY' ">Spielzeug</h3>

            <h3 data-ng-show="donation.type =='FURNITURE' ">Möbel</h3>

            <h3 data-ng-show="donation.type =='OTHER' ">Sonstige</h3>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="quantity">Anzahl / Menge</label>

                <div class="col-sm-1">
                    <input id="quantity" class="form-control" type="number" placeholder="1"
                           data-ng-model="donation.quantity" min="-1" step="1">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="name">Bezeichnung</label>

                <div class="col-sm-10">
                    <input id="name" class="form-control" type="text" placeholder="Bezeichnung"
                           data-ng-model="donation.name">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="description">zusätzliche Information</label>

                <div class="col-sm-10">
                    <textarea id="description" class="form-control" rows="3"
                              data-ng-model="donation.description"></textarea>
                </div>
            </div>


            <div class="form-group"
                 data-ng-show="donation.type == 'GARMENT' || donation.type == 'SHOES' || donation.type == 'HYGIENE' || donation.type == 'TOY' ">
                <label class="col-sm-2 control-label" for="age">Altersgruppe</label>

                <div class="col-sm-4">
                    <select id="age" class="form-control" data-ng-model="donation.age"
                            data-ng-options="(av|localize) for av in ageValues">
                        <option value="">-- Altersgruppe wählen --</option>
                    </select>
                </div>
                <label class="col-sm-2 control-label" for="gender"
                       data-ng-hide="donation.type == 'TOY' ">Geschlecht</label>

                <div class="col-sm-4" data-ng-hide="donation.type == 'TOY' ">
                    <select id="gender" class="form-control" data-ng-model="donation.gender"
                            data-ng-options="(gv|localize) for gv in genderValues">
                        <option value="">-- Geschlecht wählen --</option>
                    </select>
                </div>
            </div>

            <div class="form-group"
                 data-ng-show="donation.type == 'GARMENT' || donation.type == 'SHOES' || donation.type == 'FURNITURE' ">
                <label data-ng-show="donation.type =='GARMENT' " class="col-sm-2 control-label" for="size">Größe</label>
                <label data-ng-show="donation.type =='SHOES' " class="col-sm-2 control-label"
                       for="size">Schuhgröße</label>
                <label data-ng-show="donation.type =='FURNITURE' " class="col-sm-2 control-label"
                       for="size">Maße</label>
                <div class="col-sm-10">
                    <input id="size" class="form-control" type="text" placeholder="Größe"
                           data-ng-model="donation.size">
                </div>
            </div>

            <div class="form-group" data-ng-show="donation.type == 'HOUSEWARES' ">
                <label class="col-sm-2 control-label" for="itemType">Kategorie</label>

                <div class="col-sm-10">
                    <select id="itemType" class="form-control" data-ng-model="donation.housewaresItemKey"
                            data-ng-options="it.name for it in itemTypes track by it.key">
                        <option value="">-- Kategorie wählen --</option>
                    </select>
                </div>
            </div>

            <div class="pull-right">
                <button class="btn btn-success" value="submit" id="submit" type="submit">Speichern</button>
                <button class="btn btn-default" type="reset" data-ng-click="back()">Abbrechen</button>
            </div>
        </form>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="donatorSelectionDlg" tabindex="-1" role="dialog" aria-labelledby="donatorSelectionDlgTitle">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="donatorSelectionDlgTitle">Spender auswählen</h4>
            </div>
            <div class="modal-body" data-ng-Controller="SearchDonatorCtrl">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <p>Bitte geben Sie den zu suchenden Namen ein:</p>

                        <form class="form-inline" data-ng-submit="search()">
                            <label class="sr-only" for="searchName">Name</label>

                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                                <input id="searchName" class="form-control" type="text" placeholder="Name"
                                       data-ng-model="donatorName">
                            </div>
                            <button class="btn btn-primary" type="submit">Suchen</button>
                        </form>
                    </div>
                </div>

                <div class="panel panel-success"
                     data-ng-show="typeof(donators) !== 'undefined' && donators.length &gt; 0">
                    <div class="panel-heading">
                        <h3 class="panel-title">Suchergebnisse</h3>
                    </div>
                    <div class="panel-body">
                        Es wurden {{donators.length}} Treffer erzielt.
                    </div>
                    <x-donator-list data-donators="donators" data-mode="select"
                                    data-donatorid="donator.id"></x-donator-list>
                </div>

                <div class="panel panel-warning"
                     data-ng-show="typeof(donators) !== 'undefined' && donators.length === 0">
                    <div class="panel-heading">
                        <h3 class="panel-title">Suchergebnisse</h3>
                    </div>
                    <div class="panel-body">
                        Keine passenden Spender gefunden.
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Abbrechen</button>
                <button type="button" class="btn btn-primary" data-ng-click="selectDonator(donatorId)"
                        data-dismiss="modal">Auswählen
                </button>
            </div>
        </div>
    </div>
</div>