<div class="modal fade" id="detailDonationDialog" tabindex="-1" role="dialog"
     aria-labelledby="detailDonationDialogTtile">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detailDonationDialogTtile">Spendendetail</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{selectedDonation.name}} ({{selectedDonation.key}})</h3>
                    </div>
                    <div class="panel-body pre-scrollable">
                        <x-donation-detail donation="selectedDonation"></x-donation-detail>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Liste aller Spenden</h3>
    </div>
    <div class="panel-body">
        <div class="form-inline">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon" id="search-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input class="form-control" type="text" data-ng-model="query" placeholder="Suche in Tabelle"
                           aria-describedby="search-addon">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="filter-addon"><i class="glyphicon glyphicon-filter"></i></span>
                    <select id="donationType" class="form-control" data-ng-model="type"
                            data-ng-options="(dt|localize) for dt in donationTypes" data-ng-change="filter()">
                        <option value="">-- Filtern nach Spendenart --</option>
                    </select>
                </div>
                <div class="input-group" data-ng-show="donatorId">
                    <button class="btn btn-warning" data-ng-click="removeDonatorFilter()"><i
                            class="glyphicon glyphicon-filter"></i>{{donator.firstname}} {{donator.lastname}} <i
                            class="glyphicon glyphicon-remove"></i></button>
                </div>
            </div>
        </div>
        <nav>
            <ul class="pagination">
                <li data-ng-class="{ 'disabled': isFirst }">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage-1)"
                       aria-label="Previous"
                       data-ng-hide="isFirst"><span>&laquo;</span></a>
                    <span data-ng-show="isFirst">&laquo;</span></li>
                </li>

                <li data-ng-if="currentPage > 0 && totalPages > maxCount">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage - maxCount)">...</a>
                </li>

                <li data-ng-repeat="page in [] | asRangeArray:totalPages:currentPage:maxCount"
                    data-ng-class="{ 'active': page == currentPage}">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(page)">{{page+1}}</a>
                </li>

                <li data-ng-if="currentPage+maxCount+1 <= totalPages">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage + maxCount)">...</a>
                </li>

                <li data-ng-class="{ 'disabled': isLast}">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage+1)" aria-label="Next"
                       data-ng-hide="isLast">
                        <span>&raquo;</span>
                    </a>
                    <span data-ng-show="isLast">&raquo</span>
                </li>
            </ul>
            <div>Seite {{currentPage+1}} von {{totalPages}}</div>
        </nav>
    </div>
    <x-donation-list data-donations="donations" data-query="query" data-mode="list"></x-donation-list>
</div>

