<div class="modal fade" id="detailDonationDialog" tabindex="-1" role="dialog"
     aria-labelledby="detailDonationDialogTtile">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detailDonationDialogTtile">Spendendetail</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{selectedDonation.name}} (#{{selectedDonation.id}})</h3>
                    </div>
                    <div class="panel-body pre-scrollable">
                        <x-donation-detail donation="selectedDonation"></x-donation-detail>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3>Suchoptionen</h3>
    </div>
    <div class="panel-body">
        <p>Bitte geben Sie den zu suchenden Namen ein:</p>

        <form class="form-horizontal" data-ng-submit="search()">
            <div class="form-group">
                <label class="col-sm-2" for="searchText">Suchbegriff</label>

                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <input id="searchText" class="form-control" type="text" placeholder="Suchbegriff"
                               data-ng-model="searchParams.name">
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2" for="age">Altersgruppe</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <select id="age" class="form-control" data-ng-model="searchParams.age"
                                data-ng-options="(av|localize) for av in ageValues">
                            <option value="">-- Altersgruppe wählen --</option>
                        </select>
                    </div>
                </div>

                <label class="col-sm-2" for="gender">Geschlecht</label>

                <div class="col-sm-4">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <select id="gender" class="form-control" data-ng-model="searchParams.gender"
                                data-ng-options="(gv|localize) for gv in genderValues">
                            <option value="">-- Geschlecht wählen --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label" for="itemType">Kategorie</label>

                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <select id="itemType" class="form-control" data-ng-model="donation.housewaresItemKey"
                                data-ng-options="it.name for it in itemTypes track by it.key">
                            <option value="">-- Kategorie wählen --</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="form-group">
                <label class="col-sm-2" for="donationType">Spendenart</label>

                <div class="col-sm-10">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                        <select id="donationType" class="form-control" data-ng-model="searchParams.type"
                                data-ng-options="(dt|localize) for dt in donationTypes">
                            <option value="">-- Spendenart wählen --</option>
                        </select>
                    </div>
                </div>
            </div>

            <div class="col-sm-12">
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Suchen</button>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="panel panel-success" data-ng-show="typeof(donations) !== 'undefined' && donations.length &gt; 0">
    <div class="panel-heading">
        <h3 class="panel-title">Suchergebnisse</h3>
    </div>
    <div class="panel-body">
        Es wurden {{donators.length}} Treffer erzielt.
    </div>
    <x-donation-list data-donations="donations" data-query="query" data-mode="list"></x-donation-list>
</div>

<div class="panel panel-warning" data-ng-show="typeof(donations) !== 'undefined' && donations.length === 0">
    <div class="panel-heading">
        <h3 class="panel-title">Suchergebnisse</h3>
    </div>
    <div class="panel-body">
        Keine passenden Spender gefunden.
    </div>
</div>