<h1>Loeschen</h1>
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Spender l&ouml;schen?</h3>
    </div>
    <div class="panel-body">
        <div class="alert-warning">
            Sollen der Spender und alle zugeordneten Spenden wirklich gelöscht werden?
        </div>
    </div>
    <div class="panel-footer">
        <button class="btn btn-danger" type="button" data-ng-click="delete(id)">L&ouml;schen</button>
        <button class="btn btn-default" type="button" data-ng-click="back()">Abbrechen</button>
    </div>
</div>