<div class="alert alert-success" role="alert" data-ng-show="success">Person erfolgreich gespeichert.</div>

<div class="panel panel-primary" data-ng-hide="success">
    <div class="panel-heading">
        <h3 class="panel-title">Spender hinzuf&uuml;gen</h3>
    </div>
    <div class="panel-body">
        <form class="form-horizontal" data-ng-submit="save()">
            <h3>Person</h3>
            <input class="hidden" type="hidden" data-ng-model="id">
            <div class="form-group">
                <label class="col-sm-1 control-label" for="firstname">Vorname</label>

                <div class="col-sm-5">
                    <input id="firstname" class="form-control" type="text" placeholder="Vorname"
                           data-ng-model="donator.firstname">
                </div>
                <label class="col-sm-1 control-label" for="lastname">Name</label>

                <div class="col-sm-5">
                    <input id="lastname" class="form-control" type="text" placeholder="Name" data-ng-model="donator.lastname">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="comment">zusätzliche Information</label>

                <div class="col-sm-12">
                    <textarea id="comment" class="form-control" rows="3" data-ng-model="donator.comment"></textarea>
                </div>
            </div>

            <h3>Adresse</h3>

            <div class="form-group">
                <label class="col-sm-1 control-label" for="street">Strasse</label>

                <div class="col-sm-5">
                    <input id="street" class="form-control" type="text" placeholder="Strasse"
                           data-ng-model="donator.address.street">
                </div>
                <label class="col-sm-1 control-label" for="number">Hausnummer</label>

                <div class="col-sm-2">
                    <input id="number" class="form-control" type="text" placeholder="Nummer" data-ng-model="donator.address.number">
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" for="zip">Postleitzahl</label>

                <div class="col-sm-5">
                    <input id="zip" class="form-control" type="text" placeholder="PLZ"
                           data-ng-model="donator.address.zip">
                </div>
                <label class="col-sm-1 control-label" for="city">Stadt</label>

                <div class="col-sm-5">
                    <input id="city" class="form-control" type="text" placeholder="Stadt" data-ng-model="donator.address.city">
                </div>
            </div>

            <h3>Kontakt</h3>

            <div class="form-group">
                <label class="col-sm-1 control-label" for="zip">E-Mail</label>

                <div class="col-sm-5">
                    <input id="email" class="form-control" type="email" placeholder="E-Mail"
                           data-ng-model="donator.contactInformation.email">
                </div>

                <label class="col-sm-1 control-label" for="phone">Telefon</label>

                <div class="col-sm-5">
                    <input id="phone" class="form-control" type="text" placeholder="Stadt" data-ng-model="donator.contactInformation.phone">
                </div>

            </div>

            <div class="form-group">
                <label class="col-sm-1 control-label" for="mobil">Mobiltelefon</label>

                <div class="col-sm-5">
                    <input id="mobil" class="form-control" type="text" placeholder="Mobiltelefon"
                           data-ng-model="donator.contactInformation.mobil">
                </div>

                <label class="col-sm-1 control-label" for="fax">Fax</label>

                <div class="col-sm-5">
                    <input id="fax" class="form-control" type="text" placeholder="Fax" data-ng-model="donator.contactInformation.fax">
                </div>
            </div>

            <div class="pull-right">
                <button class="btn btn-success" value="submit" id="submit" type="submit">Speichern</button>
                <button class="btn btn-default" type="reset" data-ng-click="back()">Abbrechen</button>
            </div>
        </form>
    </div>
</div>
