<div class="modal fade" id="detailDonatorDialog" tabindex="-1" role="dialog" aria-labelledby="detailDonatorDialogTtile">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="detailDonatorDialogTtile">Spenderdetail</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">{{selectedDonator.firstname}} {{selectedDonator.lastname}} <span>({{selectedDonator.key}})</span></h3>
                    </div>
                    <div class="panel-body">
                        <x-donator-detail donator="selectedDonator"></x-donator-detail>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-default" data-ng-click="showDonations(selectedDonator.id)">Zugehörige Spenden
                    anzeigen
                </button>
                <button class="btn btn-default" data-ng-click="edit(selectedDonator.id)">Bearbeiten</button>
                <button class="btn btn-danger" data-ng-click="delete(selectedDonator.id)">Löschen</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Schließen</button>
            </div>
        </div>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">Liste aller Spender</h3>
    </div>
    <div class="panel-body">
        <div class="input-group">
            <span class="input-group-addon" id="search-addon"><i class="glyphicon glyphicon-search"></i></span>
            <input class="form-control" type="text" data-ng-model="query" placeholder="Suche in Tabelle"
                   aria-describedby="search-addon">
        </div>
        <nav>
            <ul class="pagination">
                <li data-ng-class="{ 'disabled': isFirst }">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage-1)"
                       aria-label="Previous"
                       data-ng-hide="isFirst"><span>&laquo;</span></a>
                    <span data-ng-show="isFirst">&laquo;</span></li>
                </li>

                <li data-ng-if="currentPage > 0 && totalPages > maxCount">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage - maxCount)">...</a>
                </li>

                <li data-ng-repeat="page in [] | asRangeArray:totalPages:currentPage:maxCount"
                    data-ng-class="{ 'active': page == currentPage}">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(page)">{{page+1}}</a>
                </li>

                <li data-ng-if="currentPage+maxCount+1 <= totalPages">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage + maxCount)">...</a>
                </li>

                <li data-ng-class="{ 'disabled': isLast}">
                    <a href="#{{route.current.originalPath}}" data-ng-click="showPage(currentPage+1)" aria-label="Next"
                       data-ng-hide="isLast">
                        <span>&raquo;</span>
                    </a>
                    <span data-ng-show="isLast">&raquo</span>
                </li>
            </ul>
            <div>Seite {{currentPage+1}} von {{totalPages}}</div>
        </nav>
    </div>
    <x-donator-list data-donators="donators" data-query="query" data-mode="list"></x-donator-list>
</div>
