<div class="panel panel-default">
    <div class="panel-body">
        <p>Bitte geben Sie den zu suchenden Namen oder Nummer ein:</p>

        <form class="form-inline" data-ng-submit="search()">
            <label class="sr-only" for="searchName">Name oder Nummer</label>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                <input id="searchName" class="form-control" type="text" placeholder="Name oder Nummer" data-ng-model="name">
            </div>
            <button class="btn btn-primary" type="submit">Suchen</button>
        </form>
    </div>
</div>

<div class="progress" data-ng-show="searchInProgress">
     <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:100%">Suche...</div>
</div>

<div class="panel panel-success" data-ng-show="typeof(donators) !== 'undefined' && donators.length &gt; 0">
    <div class="panel-heading">
        <h3 class="panel-title">Suchergebnisse</h3>
    </div>
    <div class="panel-body">
        Es wurden {{donators.length}} Treffer erzielt.
    </div>
    <x-donator-list data-donators="donators"></x-donator-list>
</div>

<div class="panel panel-warning" data-ng-show="typeof(donators) !== 'undefined' && donators.length === 0">
    <div class="panel-heading">
        <h3 class="panel-title">Suchergebnisse</h3>
    </div>
    <div class="panel-body">
        Keine passenden Spender gefunden.
    </div>
</div>