<!DOCTYPE html>
<!--[if lt IE 7]>
<html lang="en" data-ng-app="spenDB" data-ng-strict-di class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html lang="en" data-ng-app="spenDB" data-ng-strict-di class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html lang="en" data-ng-app="spenDB" data-ng-strict-di class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="de" data-ng-app="spenDB" data-ng-strict-di class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>SpenDB - SpendenDatenBank</title>
    <meta name="description" content="SpenDB - SpendenDatenBank zur Verwaltung von SachSpenden">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/app.css">
</head>

<body>

<!-- Fixed navbar -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">SpendenDatenBank</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="#/search-donations">Suchen</a></li>
                <li class="dropdown">
                    <a href="#/list-donations" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Spende<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-ng-class="{active: selectedMenu == '/search-donations'}"><a href="#/search-donations">Suchen</a></li>
                        <li role="separator" class="divider"></li>
                        <li data-ng-class="{active: selectedMenu == '/list-donations'}"><a href="#/list-donations">Liste</a></li>
                        <li role="separator" class="divider"></li>
                        <li data-ng-class="{active: selectedMenu == '/export-donations-pdf'}"><a
                                href="/generate/pdf.htm" target="_blank">Als PDF exportieren</a></li>

                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#/list-donators" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Spender <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-ng-class="{active: selectedMenu == '/donators'}"><a href="#/donators">Suchen</a></li>
                        <li data-ng-class="{active: selectedMenu == '/add-donators'}"><a href="#/add-donator">Anlegen</a></li>
                        <li role="separator" class="divider"></li>
                        <li data-ng-class="{active: selectedMenu == '/list-donators'}"><a href="#/list-donators">Liste</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#/about" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Backup <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li data-ng-class="{active: selectedMenu == '/import'}"><a href="#/import">Importieren</a></li>
                        <li data-ng-class="{active: selectedMenu == '/export'}"><a href="#/export">Exportieren</a></li>
                    </ul>
                </li>
                <li data-ng-class="{active: selectedMenu == '/about'}"><a href="#/about">Über</a></li>
            </ul>
            <form class="navbar-form navbar-right">
                <button type="submit" class="btn btn-danger" data-toggle="modal" data-target="#shutdownDlg"><i class="glyphicon glyphicon-off"></i></button>
            </form>
        </div><!--/.nav-collapse -->
    </div>
</nav>

<div class="container">
    <x-error-messages successMessage="{{successMessage}}" errorMessage="{{errorMessage}}"></x-error-messages>
</div>

<div data-ng-view class="container"></div>

<footer class="footer">
    <div class="container">
        <p class="text-muted">SpenDB Version {{version['version']}} - &copy; 2015, 2016 Michael Engelhardt</p>
    </div>
</footer>

<!-- Shutdown confirm dialog -->
<div class="modal fade" id="shutdownDlg" tabindex="-1" role="dialog" aria-labelledby="shutdownDlgTitle"
     data-ng-controller="ShutdownGlobalCtrl">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="shutdownDlgTitle">Beenden bestätigen</h4>
            </div>
            <div class="modal-body">
                Wollen Sie die Anwendung wirklich beenden?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Abbrechen</button>
                <a type="button" class="btn btn-danger" data-dismiss="modal" data-ng-click="shutdown()">Beenden</a>
            </div>
        </div>
    </div>
</div>

<!-- In production use:
<script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script>
-->
<script src="bower_components/jquery/dist/jquery.min.js"></script>
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<script src="bower_components/angular/angular.js"></script>
<script src="bower_components/angular-route/angular-route.js"></script>
<script src="bower_components/angular-resource/angular-resource.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
<script src="js/app.js"></script>
<script src="components/errormessages/errormessages.js"></script>
<script src="components/about/about.js"></script>
<script src="components/donators/donators.js"></script>
<script src="components/donations/donations.js"></script>
<script src="components/backup/backup.js"></script>
<script src="components/dropload/dropload.js"></script>
<script src="components/shutdown/shutdown.js"></script>
</body>
</html>
