<div class="jumbotron">
    <h1>Export Backup-Datei</h1>

    <p>Bitte speichern Sie die Datei auf Ihrer Festplatte.</p>
    <a class="btn btn-lg btn-primary" href="/services/export" target="_blank" datatype="applicaton/json"
       download="{{backupFileName}}" data-ng-click="click()">Backup Datei sichern</a>
</div>