<!-- Main component for a primary marketing message or call to action -->
<div class="jumbotron">
    <h1>SpenDB - SpendenDatenBank</h1>
    <p class="well">Version: {{version['version']}}</p>
    <p>Eine kleine Datenbank zur Verwaltung von Sachspenden</p>
</div>