<table class="table">
    <thead>
    <tr>
        <th data-ng-show="mode == 'select' ">*</th>
        <th>Nummer</th>
        <th>Name</th>
        <th>Vorname</th>
        <th>E-Mail</th>
        <th data-ng-hide="mode == 'select' ">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="d in donators | filter:query">
        <td data-ng-show="mode == 'select' " class="check-box check-box-table-cell">
            <input type="radio" data-ng-model="donatorId" data-ng-value="d.id" name="donatorId">
        </td>
        <td data-ng-click="showDetail(d.id)">{{d.key}}</td>
        <td data-ng-click="showDetail(d.id)">{{d.lastname}}</td>
        <td data-ng-click="showDetail(d.id)">{{d.firstname}}</td>
        <td data-ng-click="showDetail(d.id)">{{d.contactInformation['email']}}</td>
        <td data-ng-hide="mode == 'select' ">
            <a href="#/edit-donator/{{d.id}}"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="#/delete-donator/{{d.id}}"><i class="glyphicon glyphicon-remove"></i></a>
            <span class="dropdown">
            <a id="dLabel" data-target="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                <i class="glyphicon glyphicon-gift"></i>
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
                <li><a href="#/add-donation/?donatorId={{d.id}}&type=HOUSEWARES">Neue Haushaltswaren-Spende</a></li>
                <li><a href="#/add-donation/?donatorId={{d.id}}&type=GARMENT">Neue Kleiderspende</a></li>
                <li><a href="#/add-donation/?donatorId={{d.id}}&type=HYGIENE">Neue Körperpflege-Spende</a></li>
                <li><a href="#/add-donation/?donatorId={{d.id}}&type=FURNITURE">Neue Möbel-Spende</a></li>
                <li><a href="#/add-donation/?donatorId={{d.id}}&type=SHOES">Neue Schuhspende</a></li>
                <li><a href="#/add-donation/?donatorId={{d.id}}&type=TOY">Neue Spielzeug-Spende</a></li>
                <li><a href="#/add-donation/?donatorId={{d.id}}&type=OTHER">Neue Sonstige-Spende</a></li>
            </ul>
            </span>
        </td>
    </tr>
    </tbody>
</table>


