<div class="row">
    <div class="col-md-2"><strong>Vorname</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.firstname}}</div></div>
    <div class="col-md-2"><strong>Nachname</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.lastname}}</div></div>
</div>

<div class="row">
    <div class="col-md-2"><strong>E-Mail</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.contactInformation.email}}</div></div>
    <div class="col-md-2"><strong>Telefon</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.contactInformation.phone}}</div></div>
</div>

<div class="row">
    <div class="col-md-2"><strong>Mobil</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.contactInformation.mobil}}</div></div>
    <div class="col-md-2"><strong>Fax</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.contactInformation.fax}}</div></div>
</div>

<div class="row">
    <div class="col-md-2"><strong>Straße</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.address.street}}</div></div>
    <div class="col-md-2"><strong>Nr</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.address.number}}</div></div>
</div>

<div class="row">
    <div class="col-md-2"><strong>PLZ</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.address.zip}}</div></div>
    <div class="col-md-2"><strong>Stadt</strong></div>
    <div class="col-md-4"><div class="well well-sm">{{donator.address.city}}</div></div>
</div>

