<div>
    <h1 data-ng-show="up">Anwendung wird beendet</h1>

    <h1 data-ng-show="!up">Anwendung beendet</h1>

    <div data-ng-show="shutdownInProgress" class="progress">
        <div class="progress-bar progress-bar-striped active" role="progressbar" aria-valuenow="{{progressCounter}}"
             aria-valuemin="0" aria-valuemax="100" data-ng-style="{'width': progressCounter+'%'}">
            <span class="sr-only">Wird beendet...</span>
        </div>
    </div>
    <p class="well well-lg text-danger" data-ng-hide="up">Die Anwendung wurde beendet!</p>
</div>