<table class="table">
    <thead>
    <tr>
        <th>Anzahl</th>
        <th>Nummer</th>
        <th>Art</th>
        <th>Name</th>
        <th>Beschreibung</th>
        <th>*</th>
        <th>Angelegt</th>
        <th data-ng-hide="mode == 'select' ">&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    <tr data-ng-repeat="d in donations | filter:query">
        <td data-ng-click="showDetail(d.id)">{{d.quantity}}</td>
        <td data-ng-click="showDetail(d.id)">{{d.key}}</td>
        <td data-ng-click="showDetail(d.id)">{{d.type|localize}}</td>
        <td data-ng-click="showDetail(d.id)">{{d.name}}</td>
        <td data-ng-click="showDetail(d.id)">{{d.description}}</td>
        <td data-ng-click="showDetail(d.id)">
            <span class="badge">{{d.age|localize}}</span>
            <span class="badge">{{d.gender|localize}}</span>
            <span class="badge" data-ng-hide="d.type == 'FURNITURE' ">{{d.size}}</span>
        </td>
        <td data-ng-click="showDetail(d.id)">{{d.created|date:'dd.MM.yyyy'}}</td>
        <td data-ng-hide="mode == 'select' ">
            <a href="#/edit-donation/{{d.id}}"><i class="glyphicon glyphicon-edit"></i></a>
            <a href="#/delete-donation/{{d.id}}"><i class="glyphicon glyphicon-remove"></i></a>
        </td>
    </tr>
    </tbody>
</table>


