<div class="row">
    <div class="col-md-2"><strong>Anzahl</strong></div>
    <div class="col-md-2">
        <div class="well well-sm">{{donation.quantity}}</div>
    </div>
    <div class="col-md-2"><strong>Bezeichnung</strong></div>
    <div class="col-md-6">
        <div class="well well-sm">{{donation.name}}</div>
    </div>
</div>

<div class="row">
    <div class="col-md-2"><strong>Angelegt am</strong></div>
    <div class="col-md-10">
        <div class="well well-sm">{{donation.created|date:'dd.MM.yyyy HH:mm:ss'}}</div>
    </div>
</div>

<div class="panel panel-default" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel-heading">
        <h3 class="panel-title">
            <a class="accordion-toggle " data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
               aria-controls="collapseExample">
                Spender {{donation.donator.firstname}} {{donation.donator.lastname}} ({{donation.donator.key}})
            </a>
        </h3>
    </div>
    <div id="collapseExample" class="collapse panel-collapse">
        <div class="panel-body">
            <x-donator-detail donator="donation.donator"></x-donator-detail>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12"><strong>Beschreibung</strong></div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well well-sm">{{donation.description}}</div>
    </div>
</div>

<div class="row"
     data-ng-show=" donation.type == 'GARMENT' || donation.type == 'SHOES' || donation.type == 'HYGIENE' || donation.type == 'TOY' ">
    <div class="col-md-2"><strong>Alter</strong></div>
    <div class="col-md-4">
        <div class="well well-sm">{{donation.age|localize}}</div>
    </div>
    <div class="col-md-2" data-ng-hide="donation.type == 'TOY' "><strong>Geschlecht</strong></div>
    <div class="col-md-4" data-ng-hide="donation.type == 'TOY' ">
        <div class="well well-sm">{{donation.gender|localize}}</div>
    </div>
</div>

<div class="row"
     data-ng-show=" donation.type == 'GARMENT' || donation.type == 'SHOES' || donation.type == 'FURNITURE' ">
    <div class="col-md-2" data-ng-hide="donation.type == 'FURNITURE' "><strong>Größe</strong></div>
    <div class="col-md-2" data-ng-show="donation.type == 'FURNITURE' "><strong>Maße</strong></div>
    <div class="col-md-10">
        <div class="well well-sm">{{donation.size}}</div>
    </div>
</div>

<div class="row" data-ng-show=" donation.type == 'HOUSEWARES' ">
    <div class="col-md-2"><strong>Kategorie</strong></div>
    <div class="col-md-10">
        <div class="well well-sm">{{donation.housewaresItemKey.name}}</div>
    </div>
</div>